.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #182b58;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header_mypage {
  height: 100px;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 100;
  background-color: rgba(234, 237, 237, 0.9);
}

.header_logo {
  width: 50px;
  object-fit: contain;
  margin: 0 10px;
}

.header_logo_mypage {
  width: 50px;
  margin: 0 20px;
  margin-top: 20px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  border-color: #efc45c;
  position: relative;
  right: 10px;
}

.header_searchInput {
  height: 12px;
  width: 40px;
  padding: 17px;
  border: 30px;
  border-radius: 5px;
  border-color: #efc45c;
}

.header_searchIcon {
  position: relative;
  left: -28px;
  color: #efc45c;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  color: white;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_optionLineTwo {
  font-weight: 800;
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.backpage1 {
  width: 80px;
  height: 60px;
}
